!!! 5
html(lang='en')
  head
    title Node test task
    block styles
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/styles.css')
    block scripts
      script(src="/javascript/dist/jquery-1.10.2.min.js")
      script(src="/javascript/dist/bootstrap.min.js")
      script(src="/javascript/dist/dropzone.min.js")
      script(src="/javascript/dist/underscore.min.js")
      script(src="/javascript/dist/parsley.js")
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        - if (!user)
            .container
                .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='#') Project name
                .collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href="/") Home
                    li
                      a(href="/sign_up") Sign Up
                    li
                      a(href="/login") Log In
        - else
            .container
                .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='#') Project name
                .collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href="/") Home
                    li
                      a(href="/account") Account
                    li
                      a(href="/upload") Upload
                    li
                      a(href="/search") Search
                    li
                      a(href="/logout") Log Out
    #content
      .container
          block content


