extends layout
block content
    - if (message)
      p
    form.form-signin(action='/login', method='post', parsley-validate="parsley-validate")
        h2.form-signin-heading Log In
        input.form-control(type='text', placeholder='Username', name="username", parsley-trigger="change", parsley-minlength="3", required='required', autofocus='autofocus')
        input.form-control(type='password', placeholder='Password', name="password", parsley-trigger="change", parsley-minlength="3", required='required')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Log In

