extends layout

block content
    h1 Search By:
    .col-lg-6
        form#form-val(role='form', parsley-validate="parsley-validate")
            label(for='caption') Caption
            input#caption.form-control(parsley-trigger="change", parsley-minlength="3", type='text', placeholder='caption name')
            label(for='tags') Tags
            input.col-lg-5#tags.form-control(parsley-trigger="change", parsley-minlength="3", type='text', placeholder='tag1, tag2, ...')
            p.help-block Enter tags separated by commas
            .form-group
                button#search.btn.btn-success(type='button') Search

    .col-lg-6
        p.help-block Search results
        table.table.table-striped.table-bordered.previews
            thead
              th.col-lg-3 Name
              th.col-lg-4 Caption
              th.col-lg-4 Tags
              th.col-lg-1(style="text-align: center") Del
            tbody

append scripts
  script(src="/javascript/search.js")
