extends layout
block content
  #content
    - if (message)
      p
        =message
    form.form-signin(action='/sign_up', method='post', parsley-validate="parsley-validate")
        h2.form-signin-heading Sign Up
        input.form-control(type='email', placeholder='Email', name="email", required='required', autofocus='autofocus')
        input.form-control(parsley-trigger="change", parsley-minlength="3", type='text', placeholder='Username', name="username", required='required')
        input.form-control(parsley-trigger="change", parsley-minlength="3", type='password', placeholder='Password', name="password", required='required')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign Up
