extends layout

block content
  h1 Upload file

  .errorContainer
  br
  .row
      form#val-form(role="form", parsley-validate="parsley-validate")
          label.control-label(for="caption")
            | Caption :
            input#caption.form-control(type="text", name="caption", parsley-minlength="3", required="required")
          br
          label.control-label(for="tags")
            | Tags :
            input#tags.form-control(type="text", name="tags", placeholder="tag1, tag2, ...", parsley-minlength="3", required="required")
            p.help-block For more than one tag use comma separation.
      form#local-dropzone.dropzone(action='/upload')
      br
      button.btn.btn-primary#submit-all(type="button") Submit all files

append styles
  link(rel='stylesheet', href='/css/dropzone.css')
append scripts
  script(src="/javascript/upload.js")

